<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>WRAITH Encrypted Container</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>wraith</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>nobug.icns</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.miragesecurity.wraith</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.miragesecurity.wraith</string>
            <key>UTTypeDescription</key>
            <string>WRAITH Encrypted Container</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.item</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>wraith</string>
                </array>
                <key>public.mime-type</key>
                <string>application/x-wraith</string>
            </dict>
            <key>UTTypeIconFile</key>
            <string>nobug.icns</string>
        </dict>
    </array>
</dict>
</plist>
